-# edit.html.haml using partial

%h2 Edit Existing Script

= form_tag script_path(@script), :method => :put do

  = label :script, :title, 'Title'
  = text_field :script, 'title'

  = label :script, :author, 'Author'
  = text_field :script, 'author'

  = submit_tag 'Update Script Info', :class => 'btn btn-primary'
