-#  This file is app/views/movies/index.html.haml


-# = form_tag movies_path, :method => :get do
-#   Include:
-#   - @all_ratings.each do |rating|
-#     = rating
-#     = check_box_tag "ratings[#{rating}]", "1", @selected.include?("#{rating}")
-#   = submit_tag 'Refresh'
%div.container

  %h2 My Scripts

  %table#movies.table.table-striped.col-md-12
    %thead
      %tr
        %th Title
        %th Author
        %th Last Saved


    %tbody
      - @scripts.each do |script|
        %tr
          %td= link_to " #{script.title}", script_path(script)
          %td= script.author
          %td= script.getTime





  = link_to 'Add new script', new_script_path

  = button_to 'Log Out', '/logout', :method => :get, :class => 'btn btn-primary'