!!!
%html
  %head
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/@editorjs/header@latest"
%section.editor_container
  %h1=@script.title
  %h6=@script.author
  = button_to 'Edit', edit_script_path(@script),:method => :get
  = button_to 'Delete', script_path(@script),:method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-primary'
  = button_to 'Back', scripts_path, :method => :get
  %br
  %section.editor_component{:id => "editorjs"}
  = link_to "save page", "", :id => "save_file"
  -#%a{href: '', onclick: 'save_file(); return false;'} my link
= javascript_pack_tag 'editor_config'