%div.container

    %h2 Sign Up

    = form_tag users_path do

        = label :user, :email, 'Email'
        = text_field :user, 'email'
        %br

        -# password_field is the same text_field, but you can't see the input
        = label :user, :password, 'Password'
        = password_field :user, 'password'
        %br

        = label :user, :password_confirmation, 'Password Confirmation'
        = password_field :user, 'password_confirmation'
        %br

        = submit_tag 'Sign up', :class => 'btn btn-primary'

    %br
    %h4 Already have an account?

    = button_to 'Log In', '/login', :method => :get, :class => 'btn btn-primary'

    %br
    %br
    = button_to 'Back to Home', '/', :method => :get, :class => 'btn btn-primary'